@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lexend", "sans-serif";
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl-sm sm:text-5xl-sm lg:text-4xl tracking-wide mb-4 mt-10;
  }
  h3 {
    @apply text-3xl-sm lg:text-3xl;
  }
  h4 {
    @apply text-2xl-sm lg:text-2xl;
  }
  h5 {
    @apply text-xl-sm lg:text-xl;
  }
  h6 {
    @apply text-2xl-sm lg:text-lg;
  }
  p {
    @apply text-2xl-sm lg:text-base;
  }
  small {
    @apply text-sm-sm lg:text-sm;
  }
  label {
    @apply text-3xl-sm;
  }
}

.sheen {
  @apply bg-gradient-to-tl from-indigo-500 via-cyan-400 to-indigo-500;
}

.glow {
  @apply bg-gradient-to-tl from-cyan-400 via-fuchsia-500 to-cyan-400;
}

.gradient-text {
  @apply bg-gradient-to-br from-fuchsia-500 via-sky-500 to-indigo-500 bg-clip-text text-transparent;
}

.tooltip {
  @apply bg-gradient-to-tl from-gray-700 to-gray-900 uppercase border-white/40 border-2 text-white hover:text-black text-xl lg:text-base tracking-widest px-5 py-1 rounded-full shadow-sm transition duration-300;
}

.tag {
  @apply bg-gray-700 px-3 py-1 shadow text-white text-xl-sm lg:text-sm font-mono outline-gray-400 border-2 border-white/50 tracking-wider rounded-full;
}

.btn {
  @apply bg-gradient-to-tl lg:from-gray-700 lg:to-gray-900 hover:from-slate-50 hover:to-slate-900 py-2 shadow-md border-2 border-indigo-300/50 gap-x-2 px-5 tracking-widest uppercase text-xl-sm lg:text-base text-white hover:text-black rounded-full transition-all;
}

.form-btn {
  @apply text-2xl-sm lg:text-base bg-gradient-to-tl from-gray-700 to-gray-900 py-2 mt-4 shadow-md border-2 border-indigo-300/50 active:from-slate-50 lg:hover:text-black rounded-full transition-all;
}

.btn-hover {
  @apply lg:hover:from-slate-50 lg:hover:to-slate-900 hover:text-black;
}

.btn-loading {
  @apply bg-gray-700 py-2 mt-4 shadow-md border-2  border-indigo-300/50 text-white/50 rounded-full from-gray-700 to-gray-900 transition-all;
}

.textbox {
  @apply lg:leading-8 text-white/90 bg-gray-900 bg-gradient-to-br from-gray-900 via-transparent to-white/10 rounded-3xl p-14 shadow-md text-4xl-sm sm:text-2xl-sm lg:text-base;
}

.background {
  @apply bg-right-top bg-gradient-to-tr from-gray-900 via-gray-800/90 via-65% to-gray-950 to-90%;
}

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 rgba(255, 255, 255, 0.1);
}
