@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl text-white;
  }
  h2 {
    @apply text-6xl text-white/80 mb-4 mt-10;
  }
  h3 {
    @apply bg-gradient-to-tl from-indigo-200 to-sky-500 bg-clip-text text-transparent text-3xl font-semibold;
  }
}

.sheen {
  @apply bg-gradient-to-tl from-indigo-500 via-cyan-400 to-indigo-500;
}

.glow {
  @apply bg-gradient-to-tl from-cyan-400 via-fuchsia-500 to-cyan-400;
}

.tooltip {
  @apply bg-gradient-to-tl from-gray-700 to-gray-900 uppercase border-white/40 border-2 text-white text-2xl lg:text-sm font-semibold tracking-widest lg:tracking-wider px-6 py-3 rounded-full shadow-sm;
}

.tag {
  @apply bg-gray-700 px-3 py-1 shadow text-white text-sm font-mono tracking-wider rounded-full;
}

.btn {
  @apply bg-gradient-to-tl lg:from-gray-700 lg:to-gray-900 from-indigo-500 via-cyan-400 to-indigo-500 py-2 mt-4 shadow-md border-[1.5px] border-indigo-300/50 text-white rounded-xl lg:rounded-md transition-all scale-95;
}

.btn-hover {
  @apply lg:hover:from-indigo-500 lg:hover:via-cyan-400 lg:hover:to-indigo-500 hover:scale-100 hover:animate-sheen active:scale-[0.97];
}

.btn-loading {
  @apply bg-gray-700 py-2 mt-4 shadow-md border-[1.5px]  border-indigo-300/50 text-white/50 rounded-md from-gray-700 to-gray-900 transition-all scale-95;
}

.textbox {
  @apply bg-gray-900 bg-gradient-to-br from-gray-900 via-transparent to-white/10 rounded-md p-8 shadow-md text-4xl lg:text-2xl leading-relaxed tracking-wide text-white font-thin;
}

.background {
  @apply bg-right-top bg-gradient-to-tr from-gray-900 via-gray-800/90 via-65% to-gray-950 to-90%;
}

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 rgba(255, 255, 255, 0.1);
}
