@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl text-white;
  }
  h2 {
    @apply text-4xl text-white/80 mb-4 mt-10;
  }
}

.sheen {
  @apply bg-gradient-to-tl from-indigo-500 via-cyan-400 to-indigo-500;
}

.tooltip {
  @apply bg-gradient-to-tl from-gray-700 to-gray-900 uppercase border-white/40 border-2 text-white text-sm font-semibold tracking-wider rounded-full transition duration-500 hover:scale-[1.05] active:scale-[1.03];
}

.tag {
  @apply bg-gray-700 px-3 py-1 shadow text-white text-sm font-mono tracking-wider rounded-full;
}

.background {
  @apply bg-right-top bg-gradient-to-tr from-gray-900 via-gray-800/90 via-65% to-gray-950 to-90%;
}

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 rgba(255, 255, 255, 0.1);
}
